---
---

---
{% include css/bootstrap.min.css %}

.bg {
  background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ccc, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ccc, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
    padding: 30px;
    margin: 10px;
    background: #000000;
    background: -webkit-linear-gradient(to bottom right, #434343, #000000);
    background: linear-gradient(to bottom right, #434343, #000000);
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.16);
    transition: background 1s ease-in;



}

.card:hover {
  background: linear-gradient(to right, #434343, #000000);

}


.flex-row {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.item {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.item > p:first-child {

      background-color: #fff;
      -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
      padding: 5px 10px 5px 10px;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0,0,0,0.16);
  }

{% include css/grayscale.css %}



.reef-gradient {
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.deep-sea-space {
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
