---
---

@font-face {
  font-family: EndlessBummer;
  src: url("fonts/ENDLESSBUMMER-Regular.woff");
}

{% include css/bootstrap.min.css %}

.bg {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ccc, #fff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ccc, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 80px;
}

.bg-light {
  color: #fff;
  background: #141E30;
  background: -webkit-linear-gradient(to bottom, #ccc, #000000);
  background: linear-gradient(to bottom, #cccccc, rgba(0, 0, 0, .1)), url(/img/connor-siedow-634102-unsplash.jpg) no-repeat center;
  background-size: cover;
}

.btn-outline {
  border-color: #1e90ff;
}

.btn-outline:hover {
  background-color: #1e90ff;
  color: #fff;
}

.card {
    padding: 30px;
    margin: 10px;
    color: #000;
    background: linear-gradient(to bottom right, #ffffff, #f7f7ff);
    border-radius: 30px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.16);
    transition: background 1s ease-in;



}

.flex-row {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.item {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item > a:first-of-type {
  color: #f7f7ff;
  text-align: center;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  background: #1390ff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(135, 140, 143, 0.3);
}

.item > p > a {
  color: #fff;
}

.item > img {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.16);
}

.logo {
  height: 150px;
}

{% include css/grayscale.css %}

.fa-bars {
  color: #fff;
}

.reef-gradient {
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.deep-sea-space {
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1e90ff, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1e90ff, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.white-text {
  color: #f7f7ff;
}

.navbar-brand {
  font-family: EndlessBummer;
  font-size: 24px;
}
