---
---

---
{% include css/bootstrap.min.css %}

.bg {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ccc, #fff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ccc, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 80px;
}

.bg-light {
  color: #fff;
  background: #141E30;
  background: -webkit-linear-gradient(to bottom, #ccc, #000000);
  background: linear-gradient(to bottom, #cccccc, rgba(0, 0, 0, .1)), url(/img/connor-siedow-634102-unsplash.jpg) no-repeat center;
  background-size: cover;
}

.card {
    padding: 30px;
    margin: 10px;
    color: #000;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.16);
    transition: background 1s ease-in;



}

.flex-row {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.item {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item > a:first-of-type {
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  background-color: {{ site.color.links }};
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.16);
}

.item > p > a {
  color: #fff;
}

.item > img {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.16);
}

{% include css/grayscale.css %}



.reef-gradient {
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.deep-sea-space {
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
