    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="text-center">About Myself</h2>
                <p>Currently working at <a href="http://www.masters.edu/">The Master's University</a> just north of LA as a Web Developer. I am in charge of developing and maintaining all web content for the University. Through getting my degree and working my job I have gained experience in Javascript (React, Node, GraphQL), HTML/CSS, SQL, MongoDB, Rails, Git and had course work in Java.</p>
                <div class="text-center">
                    <a href="static/NollBlakeResume2019.pdf" class="btn btn-outline btn-lg">Resume</a>
                </div>
            </div>
        </div>
    </section>
