    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="text-center">About Myself</h2>
                <p>Currently working at <a href="http://www.masters.edu/">The Master's University</a> just north of LA as the web content strategist. In charge of changing website design and content to reflect our change to university status. I have experience in HTML, Javascript, CSS, PHP, MySQL, Node.js, Ruby, Rails, Java, algorithum efficiency, and computer architecture. </p>
                <div class="text-center">
                    <a href="static/NollBlakeResume.pdf" class="btn btn-outline btn-lg">Resume</a>
                </div>
            </div>
        </div>
    </section>
