    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="img img-circle"src="img/Blake.jpg" alt="" style="margin-right: auto; margin-left: auto; width: 50%; margin-bottom: 10px;"/>
                        <p class="intro-text">The most awesome web developer this side of the Mississippi<br>Located in Los Angeles CA</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
