<section id="portfolio" class="container content-section text-center">

    <h2>Portfolio</h2>
    <div class="row flex-row">
      <div class="item card">
          <p><a href="#">masters.edu</a></p>
          <p>The Master's University website</p>
      </div>
      <div class="item card">
          <p><a href="#">Gotta Budget</a></p>
          <p>Personal budget app built using Rails with user login and authentification</p>
      </div>
      <div class="item card">
          <p><a href="#">College Search</a></p>
          <p>Collge Search app built using React that interacts with a GraphQL backend</p>
      </div>
      <div class="item card">
          <p><a href="#">wekreative.com</a></p>
          <p>Marketing firm website</p>
      </div>
      <div class="item card">
          <p><a href="#">thepourchoice.com</a></p>
          <p>Coffeeshop located in Auburn CA</p>
      </div>
      <div class="item card">
          <p><a href="#">themastersfellowship.org</a></p>
          <p>The Master's Fellowship website</p>
      </div>
      <div class="item card">
          <p><a href="#">collegescorecard GraphQL API</a></p>
          <p>GraphQL API using Express that utilizes the department of education’s college score card REST API to retrieve data on schools based on user entered information.</p>
      </div>
      <div class="item card">
          <p><a href="#">gnarly-graphql</a></p>
          <p>NPM package allowing users to create a boilerplate GraphQL server using Express and Babel with no set using a CLI.</p>
      </div>

    </div>

</section>
