<section id="portfolio" class="container content-section text-center">

    <h2>Portfolio</h2>
    <div class="row flex-row">
      <div class="item card">
          <p><a href="https://www.masters.edu" target="_blank">masters.edu</a></p>
          <p>The Master's University website</p>
      </div>
      <div class="item card">
          <p><a href="https://vast-badlands-32950.herokuapp.com/" target="_blank">Gotta Budget</a></p>
          <p>Personal budget app built using Rails with user login and authentification</p>
      </div>
      <div class="item card">
          <p><a href="http://college-search.s3-website.us-west-1.amazonaws.com/" target="_blank">College Search</a></p>
          <p>a college search app built using React that interacts with a GraphQL backend</p>
      </div>
      <div class="item card">
          <p><a href="http://wekreative.com" target="_blank">wekreative.com</a></p>
          <p>Marketing firm website</p>
      </div>
      <div class="item card">
          <p><a href="http://thepourchoice.com/" target="_blank">thepourchoice.com</a></p>
          <p>Coffeeshop located in Auburn CA</p>
      </div>
      <div class="item card">
          <p><a href="https://themastersfellowship.org/" target="_blank">themastersfellowship.org</a></p>
          <p>The Master's Fellowship website</p>
      </div>
      <div class="item card">
          <p><a href="https://fathomless-temple-55923.herokuapp.com/" target="_blank">collegescorecard GraphQL API</a></p>
          <p>GraphQL API powered by Express that utilizes the department of education’s college score card REST API to retrieve data on schools based on user input.</p>
      </div>
      <div class="item card">
          <p><a href="https://www.npmjs.com/package/gnarly-graphql" target="_blank">gnarly-graphql</a></p>
          <p>NPM package allowing users to create boilerplate GraphQL servers with Express and Babel using a simple CLI.</p>
      </div>

    </div>

</section>
